/* custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* variables */
:root {
    --primary: #4f515a;
    --secondary: #ebebeb;
    --warning: #da0f41;
}

/* base styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--primary);
}

body {
    background: #fafafa;

}
a {
    text-decoration: none;
}

/* buttons */
button, .btn {
    background: var(--secondary);
    border-radius: 0.5rem;
    border: 0;
    padding: 0.5rem 0.75rem;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    margin-left: 0.5rem;
}

button:hover, .btn:hover {
    background: var(--primary);
    color: white;
}

button:disabled {
    opacity: 0.5;
    color: var(--primary);
    background: var(--secondary);
    cursor: not-allowed;
}

/* forms */
form {
    min-width: 25rem;
    margin: 0 auto;
    padding: 1.875rem;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.05);
    border: 1px solid var(--secondary);
    background: white;
}
input, textarea {
    border: 0;
    border-bottom: 1px solid var(--secondary);
    padding: 0.625rem;
    outline: none;
    box-sizing: border-box;
    margin: 1.25rem auto;
    font-size: 0.8rem;
}

/* error text */
.error {
    color: var(--warning);
    font-size: 0.875rem;
    margin: 1rem 0;
}